<h2>Restaurants</h2>

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
<% end %>
<br><br>

<%= link_to 'Add New Restaurant', new_restaurant_path %>
